.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f9;
}

.header {
  background-color: #466f88;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.navbar {
  width: 200px;
  background-color: #998957;
  color: #fff;
  height: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  margin: 15px 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.toggler {
  color: rgb(44, 218, 102);
}

/* table styles */
.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.custom-table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.page-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.page-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* table styles */
