.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f9;
}

.header {
  background-color: #466f88;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.navbar {
  width: 200px;
  background-color: #998957;
  color: #fff;
  height: 100%;
  padding: 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  margin: 15px 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
